body {
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/shirakawago-village-winter-japan_335224-184.jpg?t=st=1710833542~exp=1710837142~hmac=84ed234008e5948997ce625340ffe5991fad9cdcd39a86e972ca3e536debd95a&w=1060");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.logo-span{
    color: chartreuse;
}

.header-container{
    background-color: transparent;
    max-width: 100vw;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
    
}


.logo{
    font-size: 40px;
    font-weight: bold;
    color: darkgreen;
}


.nav-links {  
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
   
    
}
.nav-links li {
    margin-left: 20px;
    border: 1px dashed black;  
    padding: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: x-small;
}

.span-li{
    background-color: #0f0fc1;
    color: #fff;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
   
    
}
.span-li2{
    
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
    
}
.lists-icon{
    background-color: transparent;
   
    padding: 4px;
    font-size: 30px;
}
.list-icon{
    background-color: white;
    border-radius: 50%;
    padding: 4px;
    margin: 8px;
    font-size: 30px;
}


.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links li:hover {  
    border-bottom-color: #333;  
}

main {
    padding-bottom: 50px;
}

.hero {
   
    min-height: 400px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-container{
   
    text-align: left;
    padding: 20px;
   border-radius: 10px;
}
#fieldset-id{
    background-color: #0a16a2f9;
    border-radius: 20px;
    border-color: #0a16a2f9;
    
    
}

.container-text {
    text-align: center;
}

.container-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
   background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    
}

.search-box input[type="text"],
.search-box select {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 10px;
    background-color: transparent;
    color: #fff;
    
}
.dest-input{
    display: flex;
    flex-direction: column;
}
.container-element{
    display: flex;
    flex-direction: column;
}

.date{
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    margin: 5px;
}
.date-range {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 2px;

}

.date-range input[type="date"] {
    width: 100px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
}
input::placeholder{
    color: #fff;
}
#check-in{
    border-width: 0px;
    color: #fff;

}
#check-out{
    border-width: 0px;
    color: #fff;

}

.search-box button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.star-span{
    background-color: beige;
    color: #02021c;
    border-radius: 5px;
    padding: 4px;
}

.info-icon{
    color: dodgerblue;
}
.services {
    background-color: #f2f2f2;
    
    border-radius: 30px;
   
}
.services-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.services ul {
    text-align: center;
   
}

.services li {
    display: inline-block;
    margin: 10px;
}

.services a {
    color: black;
    text-decoration: none;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 10px;
}
.service-item a {
    color:white;
    text-decoration: none;
    background-color: navy;
    border-radius: 20px;
    padding: 10px;
}


.stats {
    
    color: #020217;
    font-weight: bold;
    margin-right: 40px;
    border-radius: 40px;
    margin-bottom: 10px;
    width: 75%;
    padding: 20px 0;
    margin-left: 150px;

}
.stats-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 20px;
}


.stats .stat span {
    font-size: 2em;
    margin-bottom: 5px;
}
.stat-hr{
    height: 60px;
    width: 2px;
    color: #020217;
    background-color: #020217;
    border-width: 0px;
}

.cta {
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.cta-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons{
    font-size: 40px;
    
}
.cta-icon{
    color: darkgreen;
}
.cta h2 {
    text-align: center;
    margin-bottom: 10px;
}

.cta p {
    text-align: center;
    margin-bottom: 20px;
}

.cta a {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}


